importlib-metadata==4.11.2; python_version < "3.8"
typing-extensions==4.1.1; python_version >= "3.7" and python_version < "3.8" or python_version < "3.11"
zipp==3.7.0; python_version >= "3.7" and python_version < "3.8"
